{% extends 'base-form.html' %}
{% block page-title %} Chart of Account {% endblock page-title %}

{% block page-content %}
<div class="page-content container-fluid page">
    <div class="row">
        <div class="col-md-8">
            <!-- Start Profile Tab Section -->
            <div class="nav-tabs nav-tabs-animate border-profile">
                <ul class="nav nav-tabs nav-profile">
                    <li role="presentation" class="active"><a data-toggle="tab" href="#profiles" aria-controls="profiles" role="tab">Information</a></li>
                </ul>
                <div class="tab-content padding-top-0">
                    <div class="tab-pane active" id="profiles" role="tabpanel">
                        <div class="panel top-profile skill-profile margin-bottom-25">
                            <div class="panel-body">
                                <!-- <h4 class="list-title">Personal Information</h4> -->
                                <div class="row">
                                    <div class="col-md-5 col-sm-12 col-xs-12">
                                        <small>
                                            <div class="first-name-profile">
                                                <span class="text-name-profile text-info">Acct. Code : </span>
                                                <span class="detail-profile text-warning">{{ object.accountcode }}</span>
                                            </div>
                                            <div class="first-name-profile">
                                                <span class="text-name-profile text-info">Main : </span>
                                                <span class="detail-profile">{{ object.main }}</span>
                                            </div>
                                            <div class="first-name-profile">
                                                <span class="text-name-profile text-info">Class : </span>
                                                <span class="detail-profile">{{ object.clas }}</span>
                                            </div>
                                            <div class="first-name-profile">
                                                <span class="text-name-profile text-info">Item : </span>
                                                <span class="detail-profile">{{ object.item }}</span>
                                            </div>
                                            <div class="first-name-profile">
                                                <span class="text-name-profile text-info">Cont : </span>
                                                <span class="detail-profile">{{ object.cont }}</span>
                                            </div>
                                            <div class="first-name-profile">
                                                <span class="text-name-profile text-info">Sub : </span>
                                                <span class="detail-profile">{{ object.sub }}</span>
                                            </div>
                                        </small>
                                    </div>
                                    <div class="col-md-7 col-sm-12 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Acct. Title : </span>
                                            <span class="detail-profile">{{ object.title }}</span>
                                        </div>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Description : </span>
                                            <span class="detail-profile">{{ object.description }}</span>
                                        </div>
                                        <br><br>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Balance Code : </span>
                                            <span class="detail-profile">{{ object.get_balancecode_display }}</span>
                                        </div>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Chart Type : </span>
                                            <span class="detail-profile">{{ object.get_charttype_display }}</span>
                                        </div>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Account Type : </span>
                                            <span class="detail-profile">{{ object.get_accounttype_display }}</span>
                                        </div>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">CTax : </span>
                                            <span class="detail-profile">{{ object.get_ctax_display }}</span>
                                        </div>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Tax Status : </span>
                                            <span class="detail-profile">{{ object.get_taxstatus_display }}</span>
                                        </div>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">W/Tax Status : </span>
                                            <span class="detail-profile">{{ object.get_wtaxstatus_display }}</span>
                                        </div>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Main Posting : </span>
                                            <span class="detail-profile">{{ object.get_mainposting_display }}</span>
                                        </div>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Fixed Asset : </span>
                                            <span class="detail-profile">{{ object.get_fixedasset_display }}</span>
                                        </div>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Taxes Payable : </span>
                                            <span class="detail-profile">{{ object.get_taxespayable_display }}</span>
                                        </div>
                                        <br><br>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Product : </span>
                                            <span class="detail-profile">{{ object.product.code }}</span>
                                        </div>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Type of Expense : </span>
                                            <span class="detail-profile">{{ object.typeofexpense.code }}</span>
                                        </div>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Kind of Expense : </span>
                                            <span class="detail-profile">{{ object.kindofexpense.code }}</span>
                                        </div>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Main Unit : </span>
                                            <span class="detail-profile">{{ object.mainunit.code }}</span>
                                        </div>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Status : </span>
                                            <span class="detail-profile">{{ object.status_verbose }}</span>
                                        </div>
                                        <br><br>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Bank Account : </span>
                                            <span class="detail-profile">{{ object.get_bankaccount_enable_display }}</span>
                                        </div>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Department : </span>
                                            <span class="detail-profile">{{ object.get_department_enable_display }}</span>
                                        </div>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Employee : </span>
                                            <span class="detail-profile">{{ object.get_employee_enable_display }}</span>
                                        </div>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Supplier : </span>
                                            <span class="detail-profile">{{ object.get_supplier_enable_display }}</span>
                                        </div>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Customer : </span>
                                            <span class="detail-profile">{{ object.get_customer_enable_display }}</span>
                                        </div>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Branch : </span>
                                            <span class="detail-profile">{{ object.get_branch_enable_display }}</span>
                                        </div>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Product : </span>
                                            <span class="detail-profile">{{ object.get_product_enable_display }}</span>
                                        </div>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Unit : </span>
                                            <span class="detail-profile">{{ object.get_unit_enable_display }}</span>
                                        </div>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Input VAT : </span>
                                            <span class="detail-profile">{{ object.get_inputvat_enable_display }}</span>
                                        </div>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Output VAT : </span>
                                            <span class="detail-profile">{{ object.get_outputvat_enable_display }}</span>
                                        </div>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">VAT : </span>
                                            <span class="detail-profile">{{ object.get_vat_enable_display }}</span>
                                        </div>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">WTax : </span>
                                            <span class="detail-profile">{{ object.get_wtax_enable_display }}</span>
                                        </div>
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">ATax Code : </span>
                                            <span class="detail-profile">{{ object.get_ataxcode_enable_display }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  End Profile Tab Section -->
        </div>
        <div class="col-md-4">
            <div class="right-box-profile">
                <h4 class="skill-title">Activity Logs</h4>
                <div class="panel">
                    <div class="panel-body">
                        <div class="master-degree">
                            <span class="degree-name text-info">Created By:</span>
                            <div class="univer-profile">{{ object.enterby }}</div>
                            <div class="univer-profile">{{ object.enterdate }}</div>
                        </div>
                        <div class="master-degree">
                            <span class="degree-name text-info">Modify By:</span>
                            <div class="univer-profile">{{ object.modifyby }}</div>
                            <div class="univer-profile">{{ object.modifydate }}</div>
                        </div>
                        <div class="master-degree">
                            <div class="iconlist">
                            {% if perms.chartofaccount.change_chartofaccount %}
                            <a href="{% url 'chartofaccount:update' object.pk %}" data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="Click to Edit" title="" aria-describedby="tooltip850155">
                                <button type="button" class="btn btn-floating btn-success btn-sm waves-effect waves-float waves-light">
                                    <i class="icon_pencil" aria-hidden="true"></i>
                                </button>
                            </a>
                            {% endif %}
                            {% if perms.chartofaccount.delete_chartofaccount %}
                            <a href="{% url 'chartofaccount:delete' object.pk %}" data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="Click to Delete" title="" aria-describedby="tooltip850155">
                                <button type="button" class="btn btn-floating btn-danger btn-sm waves-effect waves-float waves-light">
                                    <i class="icon_trash" aria-hidden="true"></i>
                                </button>
                            </a>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page-content %}