{% extends 'base-form.html' %}

{% block page-content %}
{#    {{ form.as_p }}#}
<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="panel margin-bottom-20">
                <!-- Start Simple Form Validation -->
                <div class="panel-heading">
                    <h3 class="panel-title">UPDATE EXISTING VAT</h3>
                </div>
                <div class="panel-body">
                    <form autocomplete="off" id="form-b" method="post">
                        {% csrf_token %}
                        <div class="form-group {{ form.code.errors|yesno:'has-error,' }}">
                            <label for="id_code" class="control-label">Code</label>
                            <input type="text" class="form-control" id="id_code" maxlength="10" placeholder="Code" readonly="readonly" name="code" data-validation="required" value="{{ form.code.value|default:'' }}">
                            <span class="help-block form-error">{{ form.code.errors.as_text }}</span>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="id_description">Description (<span id="max-len">250</span> characters left)</label>
                            <div>
                                <textarea id="id_description" class="form-control text-area" name="description" rows="5" data-validation="required">{{ form.description.value|default:"" }}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="id_rate" class="control-label">Rate</label>
                            <input type="text" class="form-control rate" id="id_rate" name="rate" value="{{ form.rate.value|default:'0' }}">
                            <span class="help-block form-error">{{ form.rate.errors.as_text }}</span>
                        </div>
                        <div class="form-group">
                            <table border="0">
                                <tr>
                                    <td width="400px">
                                        <label for="id_effectivedatefrom" class="control-label">Effective Date FROM</label>
                                        <input type="text" class="form-control date-yyyymmdd datepickerfrom" id="id_effectivedatefrom"
                                               name="effectivedatefrom" data-validation="required" value="{{ form.effectivedatefrom.value|date:'Y-m-d'|default:'' }}">
                                        <span class="help-block form-error">{{ form.effectivedatefrom.errors.as_text }}</span>
                                    </td>
                                    <td width="100px"></td>
                                    <td width="400px">
                                        <label for="id_effectivedateto" class="control-label">TO</label>
                                        <input type="text" class="form-control date-yyyymmdd datepickerto" id="id_effectivedateto"
                                               name="effectivedateto" data-validation="required" value="{{ form.effectivedateto.value|date:'Y-m-d'|default:'' }}">
                                        <span class="help-block form-error">{{ form.effectivedateto.errors.as_text }}</span>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="form-group margin-bottom-0">
                            <button type="submit" class="btn btn-info" id="validateButton">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- End Simple Form Validation -->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock page-content %}