{% extends 'base-form.html' %}
{% block page-title %} Main Product {% endblock page-title %}

{% block page-content %}
<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="col-md-12">
                {% if perms.mainproduct.add_mainproduct %}
                <div class="text-right"><a href="{% url 'mainproduct:create' %}"><button type="button" class="btn btn-info btn-sm waves-effect waves-light">New Data</button></a></div>
                {% endif  %}
            </div>
            <div class="col-md-12">
                <div class="page-wrap">
                    <!-- Start Basic Table Section -->
                    <h4><p>Data List</p></h4>
                    <div class="table-responsive">
                        <table class="table table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th><span>Id</span></th>
                                    <th><span>Code</span></th>
                                    <th><span>Description</span></th>
                                    <th class="text-center"><span>Action</span></th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for data in data_list %}
                                <tr>
                                    <td>{{ data.id }}</td>
                                    <td>{{ data.code }}</td>
                                    <td>{{ data.description }}</td>
                                    <td class="text-center">
                                        <div class="iconlist-wrap auto-0">
                                            <div class="iconlist">
                                            <a href="{% url 'mainproduct:detail' data.pk %}" data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="Click to View" title="" aria-describedby="tooltip850155">
                                                <i class="icon md-view-list" aria-hidden="true">&nbsp;&nbsp;</i>
                                            </a>
                                            {% if perms.mainproduct.change_mainproduct %}
                                            <a href="{% url 'mainproduct:update' data.pk %}" data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="Click to Edit" title="" aria-describedby="tooltip850155">
                                                <i class="icon md-edit" aria-hidden="true">&nbsp;&nbsp;</i>
                                            </a>
                                            {% endif %}
                                            {% if perms.mainproduct.delete_mainproduct %}
                                            <a href="{% url 'mainproduct:delete' data.pk %}" data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="Click to Delete" title="" aria-describedby="tooltip850155">
                                                <i class="icon md-delete" aria-hidden="true">&nbsp;&nbsp;</i>
                                            </a>
                                            {% endif %}
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    <!-- End Basic Table Section -->
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock page-content %}

