<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="robots" content="NONE,NOARCHIVE"/>
        <title>{% block title %} Financial System {% endblock title %}</title>
        <link rel="stylesheet" type="text/css" href="{% static '/static/css/base.css' %}"/>
        <link rel="stylesheet" type="text/css" href="{% static '/static/css/login.css' %}"/>
    </head>
    <body class="login" data-admin-utc-offset="288000" data-gr-c-s-loaded="true">
    {% block content %}
    {% endblock %}
    <!-- Global Plugin JavaScript -->
		<script src="{%static 'financial-layout/assets/js/global/jquery.min.js' %}"></script>

    </body>
</html>