{% load staticfiles %}
<div class="right-side-setting">
    <div class="icon-setting">
        <div class="icon-mainten icon-in-setting"><span class="icon_cog hi-icon" aria-hidden="true"></span></div>
    </div>
    <div class="color-change-setting">
        <!--  Color Section -->
        <h3 class="title-color">Colors</h3>
        <div class="border-setting"></div>
        <div class="color-section">
            <div class="both-color site_color_default active_color" data-site-color="cyan">
                <div class="first-color bg-cyan-900"> </div>
            </div>
            <div class="both-color" data-site-color="default">
                <div class="first-color bg-info"> </div>
            </div>
            <div class="both-color" data-site-color="deep-orange">
                <div class="first-color bg-deep-orange-900"> </div>
            </div>
            <div class="both-color" data-site-color="orange">
                <div class="first-color bg-orange-700"> </div>
            </div>
            <div class="both-color" data-site-color="dark-green">
                <div class="first-color bg-color-dark-green"> </div>
            </div>
            <div class="both-color" data-site-color="dark-cyan">
                <div class="first-color bg-cyan-800"> </div>
            </div>
            <div class="both-color" data-site-color="pink">
                <div class="first-color bg-pink-700"> </div>
            </div>
            <div class="both-color" data-site-color="gray">
                <div class="first-color bg-grey-500"> </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!--  Fonts Section -->
        <h3 class="title-color margin-top-30">Fonts</h3>
        <div class="border-setting"></div>
        <div class="fonts-section">
            <div class="both-font site_font_default active_font" data-site-font="">
                <div class="first-font"></div>
            </div>
            <label>Dafault</label>
            <div class="clearfix"></div>
            <div class="both-font" data-site-font="fonts1">
                <div class="first-font"></div>
            </div>
            <label>Lato / Raleway</label>
            <div class="clearfix"></div>
            <div class="both-font" data-site-font="fonts2">
                <div class="first-font"></div>
            </div>
            <label>Source Sans Pro</label>
            <div class="clearfix"></div>
        </div>
        <div class="clearfix"></div>
        <h3 class="title-color margin-top-30">Templates</h3>
        <div class="border-setting"></div>
        <div class="darkcolor-section">
            <div class="both-dark active_color" data-dark-color="">
                <div class="first-dark color-light">Light</div>
            </div>
            <div class="both-dark" data-dark-color="gray">
                <div class="first-dark gray">Gray</div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!--  Texture Section -->
        <h3 class="title-color margin-top-30">Background Image</h3>
        <div class="border-setting"></div>
        <div class="texture-section margin-top-30 texture-click">
            <input type="checkbox" id="rtl-checkbox" class="js-switch-small checkbox-texture" data-plugin="switchery" data-size="small"/>
            <label>Texture Background</label>
        </div>
        <div class="image-section">
            <div class="both-image default_texture active_texture" data-image-bg="texture2">
                <div class="first-image bg-texture2"> </div>
            </div>
            <div class="both-image" data-image-bg="texture9">
                <div class="first-image bg-texture9"> </div>
            </div>
            <div class="both-image" data-image-bg="texture1">
                <div class="first-image bg-texture1"> </div>
            </div>
            <div class="both-image" data-image-bg="texture8">
                <div class="first-image bg-texture8"> </div>
            </div>
            <div class="both-image" data-image-bg="texture10">
                <div class="first-image bg-texture10"> </div>
            </div>
            <div class="both-image icon-black" data-image-bg="texture11">
                <div class="first-image bg-texture11"> </div>
            </div>
            <div class="both-image icon-black" data-image-bg="texture5">
                <div class="first-image bg-texture5"> </div>
            </div>
            <div class="both-image icon-black" data-image-bg="texture4">
                <div class="first-image bg-texture4"> </div>
            </div>
            <div class="both-image icon-black" data-image-bg="texture7">
                <div class="first-image bg-texture7"> </div>
            </div>
            <div class="both-image icon-black" data-image-bg="texture6">
                <div class="first-image bg-texture6"> </div>
            </div>
        </div>
    </div>
</div>