{% extends 'base-form.html' %}
{% block page-title %} Customer {% endblock page-title %}
{% load humanize %}
{% block extra_css %}
    <style>
    h4.list-title{
        padding-bottom: 10px;
    }
    div.panel-body{
        padding: 20px 30px;
    }
    </style>
{% endblock extra_css %}
{% block page-content %}
<div class="page-content container-fluid page">
    <div class="row">
        <div class="col-md-8">
            <!-- Start Profile Tab Section -->
            <div class="nav-tabs nav-tabs-animate border-profile">
                <ul class="nav nav-tabs nav-profile">
                    <li role="presentation" class="active"><a data-toggle="tab" href="#profiles" aria-controls="profiles" role="tab">Information</a></li>
                </ul>
                <div class="tab-content padding-top-0">
                    <div class="tab-pane active" id="profiles" role="tabpanel">
                        <div class="panel top-profile skill-profile margin-bottom-20">
                            <div class="panel-body">
                                <h4 class="list-title">Main Details</h4>
                                <div class="row">
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Type : </span>
                                            <span class="detail-profile">{{ object.customertype.description }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Code : </span>
                                            <span class="detail-profile">{{ object.code }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Name : </span>
                                            <span class="detail-profile">{{ object.name }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">TIN : </span>
                                            <span class="detail-profile">{{ object.tin }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel top-profile skill-profile margin-bottom-20">
                            <div class="panel-body">
                                <h4 class="list-title">Addresses and Contact Numbers</h4>
                                <div class="row">
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Address 1 : </span>
                                            <span class="detail-profile">{{ object.address1 }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Address 2 : </span>
                                            <span class="detail-profile">{{ object.address2 }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Address 3 : </span>
                                            <span class="detail-profile">{{ object.address3 }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <br><span class="text-name-profile text-info">Tel. No. 1 : </span>
                                            <span class="detail-profile">{{ object.telno1 }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <br><span class="text-name-profile text-info">Fax No. 1 : </span>
                                            <span class="detail-profile">{{ object.faxno1 }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Tel. No. 2 : </span>
                                            <span class="detail-profile">{{ object.telno2 }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Fax No. 2 : </span>
                                            <span class="detail-profile">{{ object.faxno2 }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Tel. No. 3 : </span>
                                            <span class="detail-profile">{{ object.telno3 }}</span>
                                        </div>
                                    </div>
                                    <div class="col-md-6 col-sm-6 col-xs-12">
                                        <div class="first-name-profile">
                                            <span class="text-name-profile text-info">Pager No. : </span>
                                            <span class="detail-profile">{{ object.pagerno }}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  End Profile Tab Section -->
        </div>
        <div class="col-md-4">
            <div class="right-box-profile">
                <h4 class="skill-title">Activity Logs</h4>
                <div class="panel margin-bottom-20">
                    <div class="panel-body">
                        <div class="master-degree">
                            <span class="degree-name text-info">Created By:</span>
                            <div class="univer-profile">{{ object.enterby }}</div>
                            <div class="univer-profile">{{ object.enterdate }}</div>
                        </div>
                        <div class="master-degree">
                            <span class="degree-name text-info">Modify By:</span>
                            <div class="univer-profile">{{ object.modifyby }}</div>
                            <div class="univer-profile">{{ object.modifydate }}</div>
                        </div>
                        <div class="master-degree">
                            <div class="iconlist">
                            {% if perms.customer.change_customer %}
                            <a href="{% url 'customer:update' object.pk %}" data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="Click to Edit" title="" aria-describedby="tooltip850155">
                                <button type="button" class="btn btn-floating btn-success btn-sm waves-effect waves-float waves-light">
                                    <i class="icon_pencil" aria-hidden="true"></i>
                                </button>
                            </a>
                            {% endif %}
                            {% if perms.customer.delete_customer %}
                            <a href="{% url 'customer:delete' object.pk %}" data-toggle="tooltip" data-placement="right" data-trigger="hover" data-original-title="Click to Delete" title="" aria-describedby="tooltip850155">
                                <button type="button" class="btn btn-floating btn-danger btn-sm waves-effect waves-float waves-light">
                                    <i class="icon_trash" aria-hidden="true"></i>
                                </button>
                            </a>
                            {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-box-profile">
                <div class="panel margin-bottom-20">
                    <div class="panel-body">
                        <div class="master-degree">
                            <span class="degree-name text-info">STATUS:</span>
                            <div class="univer-profile">{{ object.status_verbose }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel top-profile skill-profile margin-bottom-20 margin-right-30 margin-left-35 col-md-6">
                <div class="panel-body">
                    <h4 class="list-title">Other Details</h4>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="first-name-profile">
                                <span class="text-name-profile text-info">Currency : </span>
                                <span class="detail-profile">{{ object.currency.description }}</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="first-name-profile">
                                <span class="text-name-profile text-info">Bank Account : </span>
                                <span class="detail-profile">{{ object.bankaccount.accountnumber }} ({{ object.bankaccount.bank.code }} {{ object.bankaccount.bankaccounttype.description }})</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="first-name-profile">
                                <span class="text-name-profile text-info">Industry : </span>
                                <span class="detail-profile">{{ object.industry.name }}</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="first-name-profile">
                                <span class="text-name-profile text-info">Multiple Status : </span>
                                <span class="detail-profile">{{ object.get_multiplestatus_display }}</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="first-name-profile">
                                <span class="text-name-profile text-info">Remarks : </span>
                                <span class="detail-profile">{{ object.remarks }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel top-profile skill-profile margin-bottom-20 col-md-5">
                <div class="panel-body">
                    <h4 class="list-title">Credit Details</h4>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="first-name-profile">
                                <span class="text-name-profile text-info">Pay Terms : </span>
                                <span class="detail-profile">{{ object.payterms }}</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="first-name-profile">
                                <span class="text-name-profile text-info">Credit Term : </span>
                                <span class="detail-profile">{{ object.creditterm.description }}</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="first-name-profile">
                                <span class="text-name-profile text-info">Credit Limit : </span>
                                <span class="detail-profile">{{ object.creditlimit|floatformat:2|intcomma }}</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="first-name-profile">
                                <span class="text-name-profile text-info">Credit Status : </span>
                                <span class="detail-profile">{{ object.get_creditstatus_display }}</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="first-name-profile">
                                <span class="text-name-profile text-info">Credit Rating : </span>
                                <span class="detail-profile">{{ object.creditrating }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="panel top-profile skill-profile margin-bottom-20 margin-right-30 margin-left-35 col-md-6">
                <div class="panel-body">
                    <h4 class="list-title">Balances</h4>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="first-name-profile">
                                <span class="text-name-profile text-info">Beg. Amount : </span>
                                <span class="detail-profile">{{ object.beg_amount|floatformat:2|intcomma }}</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="first-name-profile">
                                <span class="text-name-profile text-info">Beg. Code : </span>
                                <span class="detail-profile">{{ object.get_beg_code_display }}</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="first-name-profile">
                                <span class="text-name-profile text-info">Beg. Date : </span>
                                <span class="detail-profile">{{ object.beg_date }}</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="first-name-profile">
                                <span class="text-name-profile text-info">End Amount : </span>
                                <span class="detail-profile">{{ object.end_amount|floatformat:2|intcomma }}</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="first-name-profile">
                                <span class="text-name-profile text-info">End Code : </span>
                                <span class="detail-profile">{{ object.get_end_code_display }}</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="first-name-profile">
                                <span class="text-name-profile text-info">End Date : </span>
                                <span class="detail-profile">{{ object.end_date }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel top-profile skill-profile margin-bottom-20 col-md-5">
                <div class="panel-body">
                    <h4 class="list-title">Contact Person Details</h4>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="first-name-profile">
                                <span class="text-name-profile text-info">Name : </span>
                                <span class="detail-profile">{{ object.contactperson }}</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="first-name-profile">
                                <span class="text-name-profile text-info">Position : </span>
                                <span class="detail-profile">{{ object.contactposition }}</span>
                            </div>
                        </div>
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="first-name-profile">
                                <span class="text-name-profile text-info">Email Address : </span>
                                <span class="detail-profile">{{ object.contactemail }}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock page-content %}