{% extends 'base-form.html' %}
{% block page-title %} Bank Account {% endblock page-title %}
{% block page-content %}
<div class="panel">
    <div class="panel-body container-fluid">
        <div class="row">
            <div class="panel margin-bottom-20">
                <!-- Start Simple Form Validation -->
                <div class="panel-heading">
                    <h3 class="panel-title">CREATE</h3>
                </div>
                <div class="panel-body">
                    <form autocomplete="off" id="form-b" method="post">
                        {% csrf_token %}
                        <div class="form-group {{ form.code.errors|yesno:'has-error,' }}">
                            <label for="id_code" class="control-label">Code</label>
                            <input type="text" class="form-control" id="id_code" maxlength="10" placeholder="Code" name="code" data-validation="required" value="{{ form.code.value|default:'' }}">
                            <span class="help-block form-error">{{ form.code.errors.as_text }}</span>
                        </div>
                        <div class="form-group">
                            <table border="0">
                                <tr>
                                    <td width="400px">
                                        <div class="form-group {{ form.bank.errors|yesno:'has-error,' }} form-material">
                                            <label class="control-label" for="id_bank">Bank</label>
                                            <div>
                                                <select id="id_bank" class="form-control" name="bank" data-validation="required">
                                                    <option value="">-- Select --</option>
                                                    {% for bank in bank %}
                                                        <option value="{{ bank.id }}" {% if form.bank.value|add:0 == bank.id %} selected="selected" {% endif %}>{{ bank.description }}</option>
                                                    {% endfor %}
                                                </select>
                                                <span class="help-block form-error">{{ form.bank.errors.as_text }}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td width="100px"></td>
                                    <td width="400px">
                                        <div class="form-group {{ form.bankbranch.errors|yesno:'has-error,' }} form-material">
                                            <label class="control-label" for="id_bankbranch">Bank Branch</label>
                                            <div>
                                                <select id="id_bankbranch" class="form-control" name="bankbranch"
                                                        data-validation="required" disabled="true">
                                                    <option value="">-- Select --</option>
                                                </select>
                                                <span class="help-block form-error">{{ form.bankbranch.errors.as_text }}</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table border="0">
                                <tr>
                                    <td width="400px">
                                        <div class="form-group {{ form.bankaccounttype.errors|yesno:'has-error,' }} form-material">
                                            <label class="control-label" for="id_bankaccounttype">Bank Account Type</label>
                                            <div>
                                                <select id="id_bankaccounttype" class="form-control" name="bankaccounttype" data-validation="required">
                                                    <option value="">-- Select --</option>
                                                    {% for bankaccounttype in bankaccounttype %}
                                                        <option value="{{ bankaccounttype.id }}" {% if form.bankaccounttype.value|add:0 == bankaccounttype.id %} selected="selected" {% endif %}>{{ bankaccounttype.description }}</option>
                                                    {% endfor %}
                                                </select>
                                                <span class="help-block form-error">{{ form.bankaccounttype.errors.as_text }}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td width="100px"></td>
                                    <td width="400px">
                                        <div class="form-group {{ form.currency.errors|yesno:'has-error,' }} form-material">
                                            <label class="control-label" for="id_currency">Currency</label>
                                            <div>
                                                <select id="id_currency" class="form-control" name="currency" data-validation="required">
                                                    <option value="">-- Select --</option>
                                                    {% for currency in currency %}
                                                        <option value="{{ currency.id }}" {% if form.currency.value|add:0 == currency.id %} selected="selected" {% endif %}>{{ currency.description }}</option>
                                                    {% endfor %}
                                                </select>
                                                <span class="help-block form-error">{{ form.currency.errors.as_text }}</span>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table border="0">
                                <tr>
                                    <td width="400px">
                                        <div class="form-group {{ form.chartofaccount_id.errors|yesno:'has-error,' }} form-material">
                                            <label class="control-label" for="id_chartofaccount">Chart of Account</label>
                                            <div>
                                                <select id="id_chartofaccount" class="form-control" name="chartofaccount">
                                                    <option value="">-- Select --</option>
                                                    {% for chartofaccount in chartofaccount %}
                                                        <option value="{{ chartofaccount.id }}" {% if form.chartofaccount.value|add:0 == chartofaccount.id %} selected="selected" {% endif %}>{{ chartofaccount.description }} ({{ chartofaccount.accountcode }})</option>
                                                    {% endfor %}
                                                </select>
                                                <span class="help-block form-error">{{ form.chartofaccount.errors.as_text }}</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td width="100px"></td>
                                    <td width="400px">
                                        <div class="form-group {{ form.accountnumber.errors|yesno:'has-error,' }}">
                                            <label for="id_accountnumber" class="control-label">Account Number</label>
                                            <input type="number" class="form-control" id="id_accountnumber" maxlength="30" placeholder="Account Number" name="accountnumber" data-validation="required" value={{ form.accountnumber.value|default:"" }}>
                                            <span class="help-block form-error">{{ form.accountnumber.errors.as_text }}</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="id_remarks">Remarks (<span id="max-len">250</span> characters left)</label>
                            <div>
                                <textarea id="id_remarks" class="form-control text-area" name="remarks" rows="5">{{ form.remarks.value|default:"" }}</textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <table border="0">
                                <tr>
                                    <td width="400px">
                                        <div class="form-group {{ form.beg_amount.errors|yesno:'has-error,' }}">
                                            <label for="id_beg_amount" class="control-label">Beginning Amount</label>
                                            <input type="text" class="form-control amount" id="id_beg_amount" name="beg_amount" maxlength="26" value="{{ form.beg_amount.value|default:'' }}">
                                            <span class="help-block form-error">{{ form.beg_amount.errors.as_text }}</span>
                                        </div>
                                    </td>
                                    <td width="100px"></td>
                                    <td width="400px">
                                        <div class="form-group {{ form.run_amount.errors|yesno:'has-error,' }}">
                                            <label for="id_run_amount" class="control-label">Run Amount</label>
                                            <input type="text" class="form-control amount" id="id_run_amount" name="run_amount" maxlength="26" value="{{ form.run_amount.value|default:'' }}">
                                            <span class="help-block form-error">{{ form.run_amount.errors.as_text }}</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table border="0">
                                <tr>
                                    <td width="400px">
                                        <div class="form-group {{ form.beg_code.errors|yesno:'has-error,' }}  form-material">
                                            <label for="id_beg_code" class="control-label">Beginning Code</label>
{#                                            <input type="text" class="form-control" id="id_beg_code" maxlength="1" name="beg_code" value="{{ form.beg_code.value|default:'' }}">#}
                                            <select id="id_beg_code" name="beg_code" class="form-control">
                                                {% for id,name in form.fields.beg_code.choices %}
                                                    <option value="{{ id }}"{% if form.beg_code.value == id %} selected{% endif %}>{% ifequal id ""%}-- Select --{% else %}{{ name }}{% endifequal %}</option>
                                                {% endfor %}
                                            </select>
                                            <span class="help-block form-error">{{ form.beg_code.errors.as_text }}</span>
                                        </div>
                                    </td>
                                    <td width="100px"></td>
                                    <td width="400px">
                                        <div class="form-group {{ form.run_code.errors|yesno:'has-error,' }} form-material">
                                            <label for="id_run_code" class="control-label">Run Code</label>
                                            <select id="id_run_code" name="run_code" class="form-control">
                                                {% for id,name in form.fields.run_code.choices %}
                                                    <option value="{{ id }}"{% if form.run_code.value == id %} selected{% endif %}>{% ifequal id ""%}-- Select --{% else %}{{ name }}{% endifequal %}</option>
                                                {% endfor %}
                                            </select>
                                            <span class="help-block form-error">{{ form.run_code.errors.as_text }}</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                            <table border="0">
                                <tr>
                                    <td width="400px">
                                        <div class="form-group {{ form.beg_date.errors|yesno:'has-error,' }}">
                                            <label for="id_beg_date" class="control-label">Beginning Date</label>
                                            <input type="text" class="form-control datepickerfrom" id="id_beg_date" name="beg_date" value="{{ form.beg_date.value|date:'Y-m-d'|default:'' }}">
                                            <span class="help-block form-error">{{ form.beg_date.errors.as_text }}</span>
                                        </div>
                                    </td>
                                    <td width="100px"></td>
                                    <td width="400px">
                                        <div class="form-group {{ form.run_date.errors|yesno:'has-error,' }}">
                                            <label for="id_run_date" class="control-label">Run Date</label>
                                            <input type="text" class="form-control datepickerto" id="id_run_date" name="run_date" value="{{ form.run_date.value|date:'Y-m-d'|default:'' }}">
                                            <span class="help-block form-error">{{ form.run_date.errors.as_text }}</span>
                                        </div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="form-group margin-bottom-0">
                            <button type="submit" class="btn btn-info" id="validateButton">Submit</button>
                        </div>
                    </form>
                </div>
                <!-- End Simple Form Validation -->
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
{% endblock page-content %}
{% block extra_js %}
    <script type="text/javascript">
        $(document).ready(function() {
            $("select#id_bank").change(function () {
                if ($(this).val() == "") {
                    $("select#id_bankbranch").html("<option>-- Select --</option>");
                    $("select#id_bankbranch").attr('disabled', true);
                }
                else {
                    var url = $(this).val() + "/all_branches/";
                    $.getJSON(url, function(branches) {
                        var options = '<option value="">-- Select --</option>';
                        for (var i = 0; i < branches.length; i++) {
                            options += '<option value="' + branches[i].pk + '">' + branches[i].fields['description'] + '</option>';
                        }
                        $("select#id_bankbranch").html(options);
                        $("select#id_bankbranch option:first").attr('selected', 'selected');
                        $("select#id_bankbranch").attr('disabled', false);
                    });
                }
            });
            $("select#id_bankbranch").change(function(){
                if($(this).val() == -1){
                    return;
                }
            })
        });
    </script>
{% endblock extra_js %}